.box {
    
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

.vi-bg{
    position: fixed;
    top:0;
    left:0;
    height: 300px;
    width: 300px;
    object-fit: contain;
    z-index: -1;
   
}