* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    text-align: center;
}

.login-box {
    background: #fff;
    width: 350px;
    padding: 40px 35px;
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.logo {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    margin-bottom: 35px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #0095f6;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.or-box {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.or-box .line {
    flex: 1;
    height: 1px;
    background: #dbdbdb;
}

.or-box span {
    margin: 0 15px;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: bold;
}

.fb-btn {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    color: #385185;
}

.forgot {
    font-size: 12px;
    text-decoration: none;
    color: #00376b;
}

.signup-box {
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 18px;
    width: 350px;
    font-size: 14px;
}

.signup-box a {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}

.get-app {
    margin-top: 20px;
}

.get-app p {
    font-size: 14px;
    margin-bottom: 15px;
}

.play-image{
    width:150px;
    height:auto;
    object-fit: contain;
}

.micro-image{
    width:150px;
    height:auto;
    object-fit: contain;
}