.body{
    margin: 0;
    padding: 0;
    

}

.signup-container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;


}
.signup{
    border:2px solid black;
    height:500px;
    width:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:beige;
    gap:25px;
    box-shadow:50px 50px 50px;
}
.data{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    justify-content:center;
}
.but{
    background-color:burlywood;
    display:flex;
    width:100%;
    justify-content:center;
    color:azure;
}

.data input{
    border:none;
    border-radius:10px;
    height:25px;
}
.data label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;

}

.header-container{
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;


}
.logo-image{
    height: 60px;
    width: 60px;
    object-fit: contain;
    padding: 0px;
}

.head-items{
    display: flex;
    gap:15px;
    color: wheat;
}

.head-items li{
    list-style: none;
    font-size: 18px;
}


.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 

    background-image: url('https://mythologyworldwide.com/wp-content/uploads/2024/09/mythologyworldwide.com-Goblin-Encounters-in-Literature-From-Tolkien-to-Gaiman.webp');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    backdrop-filter: blur(5px);

}

.login-form{
    /*border: 2px solid black;*/
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: lavender;*/
    gap: 20px;
    /*box-shadow:50px 50px 50px;*/
}

.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.login input{
    border: none;
    border-radius: 10px;
    height: 25px;

}
.login label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.login-button{
    display: flex;
    width: 100%;
    justify-content: center;
    color: azure;
}
.login-button button{
    background-color: palevioletred;
}
