* {
    box-sizing: border-box;
    font-family: Arial;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #f5f5f5;
    color: #222;
}

body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark .toogle-card {
    background-color: rgba(20, 20, 20, 0.9); 
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 7); 
}


.toogle-card {
    text-align: center;
    padding: 25px 30px;         
    border-radius: 12px;
    background-color:#f5f5f5;
    box-shadow: 0px 4px 15px rgba(16, 3, 3, 0.2); 
}


button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px); 
}

.lig-but {
    background-color: #ffffff;
    border: 1px solid #fff;
}

.dar-but {
    background: #222;
    color: #fff;
}


.button-grp {
    display: flex;
    justify-content: center;
}